# Project
**/__pycache__/
*.py[cod]
.DS_Store
**/.DS_Store
.idea/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
.jupyter/
*.egg-info/
build/
dist/

# Datasets
/data/
/hag/datasets/Canary/
/hag/datasets/CatsDogs/
/hag/datasets/HAART/
/hag/datasets/JapaneseVowels/
/hag/datasets/SpeechCommands/
/hag/datasets/Sunspot/
/hag/datasets/SpokenArabicDigits
/hag/datasets/fsdd/

/outputs/hag_matrices
